* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    margin: 0;
    padding: 0;

}

#main{

}

hr{
    size: 3em;
    width: 80%;

}

#formulaire {

}


textarea{
    width: 300px;
    margin-top: 5%;
}

button {
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 2px;
    background: #3bf2ff;
}